@model BatidaModel
@{
    ViewData["Title"] = "Ajustando batida";
}
<h2>Adicionar batidas</h2>
@if(TempData["MensagemSucesso"] != null){
    <div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>@TempData["MensagemSucesso"]</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
}

@if(TempData["MensagemErro"] != null){
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>@TempData["MensagemErro"]</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
}

<form method="post" asp-controller="Batida" asp-action="AjustarBatida">
  <!-- 
    <div class="mb-3">
    <label for="matricula" class="form-label">Matricula</label>
    <input asp-for="FuncionarioMatricula" type="text" class="form-control" id="matricula" >
    @Html.ValidationMessageFor(b => b.FuncionarioMatricula)
  </div>
  -->
  <div class="mb-3">

    <label asp-for="FuncionarioMatricula" class="control-label">Funcionario</label>
    
    <select asp-for="FuncionarioMatricula" class ="form-control" asp-items="ViewBag.FuncionarioMatricula">
        <option value="">Selecione um funcionario</option>
    </select>
  </div>

  <div class="mb-3">
    <label for="registro" class="form-label">Registro Batida</label>
    <input asp-for="Registro" type="text" class="form-control" id="registro">
    @Html.ValidationMessageFor(b => b.Registro)
  </div>
  <div class="mb-3">
    <label for="observacao" class="form-label">Observação</label>
    <input asp-for="Observacao" type="text" class="form-control" id="observacao">
    @Html.ValidationMessageFor(b => b.Observacao)
  </div>

  <button type="submit" class="btn btn-primary">Adicionar</button>
  <a asp-controller="Batida" asp-action="Index" class="btn btn-warning">Voltar</a>
</form>
