@using PontoWeb.Enums
@model FuncionarioModel
@{
    ViewData["Title"] = "Adicionando Funcionarios";
}
<h2>Adicionar Funcionario</h2>
@if(TempData["MensagemSucesso"] != null){
    <div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>@TempData["MensagemSucesso"]</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
}

@if(TempData["MensagemErro"] != null){
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>@TempData["MensagemErro"]</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
}


  <form asp-controller="Funcionario" asp-action="Criar">
  <div class="mb-3">
    <label for="matricula" class="form-label">Matricula</label>
    <input asp-for="Matricula" type="text" class="form-control" id="matricula">
    @Html.ValidationMessageFor(f => f.Matricula)
  </div>
  <div class="mb-3">
    <label for="nome" class="form-label">Nome</label>
    <input asp-for="Nome" type="text" class="form-control" id="nome" >
    @Html.ValidationMessageFor(f => f.Nome)
  </div>
    <div class="mb-3">
    <label for="nis" class="form-label">NIS</label>
    <input asp-for="NIS" type="text" class="form-control" id="nis" >
    @Html.ValidationMessageFor(f => f.NIS)
  </div>
  <div class="mb-3">
    <label for="senha" class="form-label">Senha</label>
    <input asp-for="Senha" type="password" class="form-control" id="senha" >
    @Html.ValidationMessageFor(f => f.Senha)
  </div>
  <div class="mb-3">
    <label for="perfil" class="form-label">Perfil</label>
    <select asp-for="Tipo" class="form-control">
        <option value=""></option>
        <option value="@TipoFuncionarioEnum.Funcionario">Funcionario</option>
        <option value="@TipoFuncionarioEnum.Supervisor">Supervisor</option>
    </select>
    @Html.ValidationMessageFor(f => f.Tipo)
  </div>
  <button type="submit" class="btn btn-primary">Adicionar</button>
  <a asp-controller="Funcionario" asp-action="Index" class="btn btn-warning">Voltar</a>
</form>

